<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Rollno %>-Bonafide</title>
    <style>
        body{
            text-align: center;
        }
        @media print { @page { margin: 0; } 
        body { margin: 1.6cm; } }
    </style>
</head>
<body >
    <span>S NO</span>
    <span>ORIGINAL</span>
    <div>
        
        <h1>JNTUH UNIVERSITY COLLEGE OF ENGINEERING SULTANPUR</h1>
        
        <h5 class="inner-para">Pulkal(M), Sangareddy(D),Telangana-502273 ,India</h5>
        <h2>BONAFIDE CERTIFICATE</h2>
         
    </div>
    <div>
        <span>Hall Ticket No.</span><span><%= Rollno %></span>
        <span>Date.</span>
        <span><%= Date %></span>
    </div>
    
    <p>
        
        This is to certify that Mr./Mrs. <%=Name%> Son/Daughter of 
        <%= Sonordaughterof %> studying in B.Tech <%= Year %>th Year
        <%= Department %> Branch with Roll No <%= Rollno %> is 
        Bonafide student of this college.
    </p>
    <p>
        The certificate is issued to enable him/her to apply for <%= Purpose %> purpose
        only.
    </p>
    <div>

        <h3>PRINCIPAL</h3> 
        <h4>JNTUH UNIVERSITY COLLEGE OF ENGINEERING SULTANPUR</h4>

    </div>
    
</body>

<script type="text/javascript">
    window.onload = function() { window.print(); }
</script>

</html>