<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Rollno %>-Bonafide</title>
    <link rel="stylesheet" href="/css/form.css">
    <style>
        body{
            text-align: center;
        }
        @media print { @page { margin: 0; } 
        body { margin: 1.6cm; } }
    </style>
</head>
<body >
    <div class="form-container">
        <div class="top-content">
            <span class="serial-num">S.NO</span>
            <img class="logo" src="/assets/jntuhlogo.png" alt="jntuh-logo"/>
            <span class="original">ORIGINAL</span>
        </div>
        <div class="clg-heading">
            <h1 class="clg-title">JNTUH UNIVERSITY
                COLLEGE OF ENGINEERING SULTANPUR</h1>
            <h5 class="clg-address">Pulkal(M), Sangareddy District, Telangana.</h5>
            <h2 class="bonafide-title">BONAFIDE CERTIFICATE</h2> 
        </div>
    
        <div class="middle-details">
            <span class="hallticket">Hall Ticket No. <%= Rollno %></span>
            <span class="date">Date : <%= Date %></span>
        </div>
        <div>
        <p class="details-filling">
            <span class="start-details">This is to certify that</span> <span class="filled-values">Mr./Ms <%=Name%></span>
            Son/Daughter of <span class="filled-values"><%= Sonordaughterof %></span> 
             Studying in B.Tech <span class="filled-values"><%= Year %>th Year</span>
            <%= Department %> Branch with <span class="filled-values">Roll No <%= Rollno %></span> is 
            Bonafide student of this college.
        </p>
        <p class="details-filling">The certificate is issued to enable him/her to apply for
            <span class="filled-values"> <%= Purpose %> purpose</span>
            only.</p>
        </div>
        <div class="bottom-container">
            <div>
                <h3 class="princi">PRINCIPAL</h3>
            </div>  
            <div>
                <h4 class="btm-clg-name">JNTUH UNIVERSITY COLLEGE OF ENGINEERING SULTANPUR</h4>
            </div>
        </div>
    </div>
<script type="text/javascript">
    window.onload = function() { window.print(); }
</script>

</html>