<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/popup.css">
  <title>Requests</title>
</head>
<body>
  <div class="tab">
    <form action="/admin/requests/closed" method="get">
      <button class="tablinks" id="closedreqtab" type="submit" value="Closed">Closed Requests</button>
    </form>
    <form action="/admin/requests/fined" method="get">
      <button class="tablinks" id="finedreqtab" type="submit" value="Closed">Fined Requests</button>
    </form>
  </div>
  <h1><%= Value?"Closed Requests":"Fined Requests"%></h1>
  <h2><%= Message %></h2>
  <div class="requests-container">
      <% for(var l = Requests.length, i = 0; i < l; i++) { %>
        <div class="req-card">
          <div class="card-1 req-card">
            <dt>Roll Number : </dt><dd><%=Requests[i].rollno %></dd>
          </div>
          <!-- <label for="name">Name: </label> <h5 id="name"><%=Requests[i].name %></h5>
            <label for="year">Year: </label> <h5 id="year"><%=Requests[i].year %></h5>
            <label for="dept">Branch: </label> <h5 id="dept"><%=Requests[i].department %></h5> -->
          <div class="card-2 req-card">
          <h3>Purposes :</h3>
          <% if(Value===1){ %>
          <%Requests[i].purposes.forEach((purpose)=>{%>
            <% if (purpose.isissued===Value) { %>
              <dl class = "desc-list">
              <dt>Purpose Category : </dt><dd><%=purpose.purposename %></dd>
              <dt>Dates : </dt><dd><%=purpose.dates %></dd>
              <dt>Issued : </dt><dd><%=purpose.isissued %></dd>
              </dl>
            <% } %>
            
          <% }); %> 
          <% }  else { %>
            <dl class = "desc-list">
            <dt> Purpose Category: </dt> <dd><%=Requests[i].purpose.purposename %></dd>
            <dt> Request date: </dt> <dd><%=Requests[i].purpose.requestdate %></dd>
            <dt> Issued Date: </dt> <dd><%=Requests[i].purpose.issueddate?purpose.issueddate:"Not yet issued" %></dd>
            <dt> Issued: </dt> <dd><%=Requests[i].purpose.isissued %></dd>
            <dt> Ispaid: </dt> <dd><%=Requests[i].purpose.paid %></dd>
            <dt> Amount: </dt> <dd><%=Requests[i].purpose.fine %></dd>
            </dl>
              <button class="btn" onclick="openPopup()">Mark as paid & Issue Certificate</button>
              <div class="popup" id="popup">
                <h3>Confirm to Proceed ?</h3> 
                  <form action="/admin/request/fine/paid" method="post">
                    <button class="btn" type="submit" id="reqsubmit" name="submitbutton" value="<%=Requests[i].rollno%> <%=Requests[i].purpose.purposename%>" >Mark as paid & Issue Certificate</button>
                    <button class="btn" onclick="closePopup()">Close</button>
                  </form>
              </div>
          <% } %>
        </div>
        </div>
      
      <% } %>
  </div>
</body>
<script>
  let popup = document.getElementById("popup");
  const openPopup=()=>{
    popup.classList.add("open-popup");
  }
  const closePopup=()=>{
    popup.classList.remove("open-popup");
  }
  // const closedTab=()=>{
  //       document.getElementById("closedreqtab").classList.add("active");
  //       document.getElementById("finedreqtab").classList.remove("active");
  //   }
  //   const finedTab=()=>{
  //       document.getElementById("finedreqtab").classList.add("active");
  //       document.getElementById("closedreqtab").classList.remove("active");
  //   }
</script>
</html>
